---
import PostItem from './PostItem.astro';
import type { Post } from '../utils/data-loader';

interface Props {
  posts: Post[];
  id: string;
  hidden?: boolean;
}

const { posts, id, hidden = false } = Astro.props;
---

<ol id={id} class:list={['list-none p-0 m-0', { hidden }]}>
  {posts.map((post, i) => (
    <PostItem post={post} rank={i + 1} />
  ))}
  {posts.length === 0 && (
    <li class="text-hn-meta dark:text-hn-meta-dark py-4 text-center">No posts available.</li>
  )}
</ol>
